@using University.Models
@{
    Layout = null;
    ViewBag.Title = "Edit mark";
    Mark mark = @ViewBag.mark;
}
@try
{
    using (Ajax.BeginForm("EditMark", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "data" }))
    {
        <div class="form-horizontal">
            <h4>Mark</h4>
            <hr />
            @Html.Hidden("Id", mark.Id)

            <div class="form-group">
                @Html.Label("Value", mark.Value.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Value")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
catch (Exception ex)
{
    <p>En error occurred</p>
}

